<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sway</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="margin-top:0px;padding:0px;background-color:#8FD5E1;">
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">

            	<div class="col-md-4">
                    <div>
                        <center><%= image_tag("money.png", :class => "img-responsive") %></center>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="intro-message">
                        <center><%= image_tag("logo-04.png", :class => "img-responsive") %></center>
                        <h3>Twitch plays drone</h3>
                        <hr class="intro-divider">
                            	<%= link_to "Try out our Demo!", votes_path, :class => "btn btn-default btn-lg"%>
                    </div>
                </div>

                <div class="col-md-4">
                    <div>
                        <center><%= image_tag("money.png", :class => "img-responsive") %></center>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <h3 class="section-heading">Crowd Controlled by SMS<br>Powered by Twilio</h3>
                    <p class="lead">Text our mobile number mid-flight to guide the Rainmaker to your side of the crowd.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <center><%= image_tag("textb.png", :class => "") %></center>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                   <h3 class="section-heading">Packed with a Payload</h3>
                    <p class="lead">Our drone flies around and throws prizes at you. Great for football games, music festivals, and even corporate events.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <center>
                    <%= image_tag("drone3.png", :class => "img-responsive", :style => "margin-left:30px;") %>
                 </center>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6"></h3>
                <center>
					<%= image_tag("hand.png", :class => "img-responsive") %>
				</center>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <center>
                    <%= image_tag("hand2.png", :class => "img-responsive") %>
                 </center>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <center><h1>Check out our web demo!</h1>                
                    <%= link_to "Demo", votes_path, :class => "btn btn-default btn-lg", :id => "button-bottom" %></center>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>