<body style="background-color:#F68E5C;">

<left><p><%= link_to "Back", root_path, :id => "back-button"%></p></left>

<center>
  <h4>Text Drone Controls 'F', 'B', 'L', 'R' to</h4>
  <h1 style="margin-bottom:0px;">+1 (424) 332-5166</h1>
  <br>
  <h5 id="title1">(Front, Back, Left, Right)</h5>
</center>

<div class="row" style="background-color:#8FD5E1;">
  <div class="col-md-6 col-sm-12">
  <center>
    <table>
      <tr>
        <th style="padding:1.7em;">Time</th>
        <th style="padding:1.7em;">From</th>
        <th style="padding:1.7em;">Control Vote</th>
      </tr>

      <% @votes.each do |vote| %>
        <tr>
          <!--<td><%= time_ago_in_words(vote.created_at) %></td>-->
          <td style="padding:1.7em;padding-bottom:1.1em;"><%= distance_of_time_in_words(vote.created_at, Time.now, include_seconds: true) %></td>
          <td style="padding:1.7em;padding-bottom:1.1em;"><%= vote.name %></td>
          <td style="padding:1.7em;padding-bottom:1.1em;"><%= vote.description.upcase %></td>
        </tr>
      <% end %>
    </table>
  </center>
  </div>

   <div class="col-md-6 col-sm-12">
   <%= image_tag("drone.png", :class => "center", :id => "drone", :style => "width:85%;") %>
   </div>
  <br />

  </div>
</div>
</body>


<script>
setTimeout(function() {
  window.location.reload();
},1000)
</script>